<table>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.age %></td>

  </tr>
</table>
<br><br>
<label>Rental Request Dates</label>
<ul>
  <% @cat.cat_rental_requests.sort_by(&:start_date).each do |request| %>
    <li> <%= request.start_date %>  </li>
    <li>  <%= request.end_date %> </li>
    <br>
  <% end %>
</ul>
